/lib
/dist
/docs
/workdocs/coverage
/workdocs/resources/*
!/workdocs/resources/.gitlock
/workdocs/badges/*
!/workdocs/badges/.gitlock
/workdocs/drawings/*
/workdocs/uml/*
!/workdocs/drawings/*.drawio
!/workdocs/uml/*.puml
/.idea
!/.idea/runConfigurations
/.token
/node_modules